@font-face {
    font-family: 'calligraffitiregular';
    src: url('fonts/Calligraffiti-webfont.eot');
    src: url('fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calligraffiti-webfont.woff2') format('woff2'),
         url('fonts/Calligraffiti-webfont.woff') format('woff'),
         url('fonts/Calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'action_manregular';
    src: url('fonts/Action_Man-webfont.eot');
    src: url('fonts/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Action_Man-webfont.woff2') format('woff2'),
         url('fonts/Action_Man-webfont.woff') format('woff'),
         url('fonts/Action_Man-webfont.ttf') format('truetype'),
         url('fonts/Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'vag-handwrittenvaghandwritten';
    src: url('fonts/VAG-HandWritten-webfont.eot');
    src: url('fonts/VAG-HandWritten-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/VAG-HandWritten-webfont.woff2') format('woff2'),
         url('fonts/VAG-HandWritten-webfont.woff') format('woff'),
         url('fonts/VAG-HandWritten-webfont.ttf') format('truetype'),
         url('fonts/VAG-HandWritten-webfont.svg#vag-handwrittenvaghandwritten') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.corps {
	position: relative;
	top: 5px;
	z-index: 1;
	width: 80%;
	max-width: 1024px;
	margin: auto;
	margin-top: 0;
	background-color: rgb(253, 253, 251);
}
/*mise en place header*/
header {
	width: 100%;
	background: url(images/fond_header.jpg) top no-repeat;
	border-radius: 0 0 5px 5px;
	padding-top: 58px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8);
	-moz-box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8);
	box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8); 
	/*<a href="https://pngtree.com/free-backgrounds">free background photos from pngtree.com</a>*/
}
a {
	text-decoration: none;
}
nav {
	margin: auto;
	background: url(images/fond_header.jpg) top no-repeat;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
}
#en_tete {
	display: flex;
	width: 1024px;
	margin: auto;
}
.titre {
	text-align: center;
	width: 80%;
}
h1 {
	font-size: 3.4em;
	margin: 5px 0 0 0;
}
h1, header h2 {
	font-family: 'calligraffitiregular', sans-serif;
}
header h2 {
	margin: 0;
}
.logo {
	vertical-align: middle;
	width: 50px;
}
nav a, .rubriques h3, .rubriques h4 {
	color: black;
	font-family: 'action_manregular', sans-serif;
	
}
nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	width: 1024px;
	margin: auto;
	padding-top: 17px;
	padding-bottom: 20px;
}
nav li{
	display: block;
}
nav a {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.1em;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 3px 3px 5px;
	border-radius: 4px;
}
nav a.active {
	border-bottom: 2px solid olivedrab;
	border-top: 2px solid olivedrab;
	transition: 2s ease;
}
nav a:hover {
	color: olivedrab;
}
nav a:active {
	border-color: yellowgreen;
}
nav a:focus {
	border: 1px yellowgreen solid;
}
.date {
	text-align: center;
}
.soleil {
	background: url(images/soleilcc.png) no-repeat 15px 15px;
	height: 72px;
}
/*mise en place section accueil*/
#accueil {
	display:flex;
}
.edito {
	width: 20%;
}
.articles {
	width: 60%;
}
.rubriques {
	width: 20%;
}
article, aside {
	background-color: rgb(246,247,239);
	margin: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	font-family: "Trebuchet ms", serif;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8);
	-moz-box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8);
	box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.8); 
}
article:hover, aside:hover {
	background-color: rgb(230, 237, 186); 
	-webkit-box-shadow: 0px 1px 1px 1px rgba(153,153,153,0.8);
	-moz-box-shadow: 0px 1px 1px 1px rgba(153,153,153,0.8);
	box-shadow: 0px 1px 1px 1px rgba(153,153,153,0.8);
}
.citation {
	margin-bottom: 10px;
}
.albie {
	float: right;
	clear: both;
	border: 2px solid yellow;
	border-radius: 50%;
	margin-top: -55px;
}
h2 {
	text-align: left;
	padding-left: 8px;
}
.vendee {
	text-align: justify;
}
.vendee li {
	margin-bottom: 10px;
}
.drapeau {
	float: left;
	clear: both;
	width: 172px;
	margin-right: 10px;
}
.signature {
	text-align: right;
	font-style: italic;
	text-shadow: 2px 2px 2px rgba(153,153,153,0.8);
}
/*---------------rubriques---------------------------*/
/*Background de chaques rubriques*/
.rubriques h2 {
	margin-bottom: 85px;
}
.austral {
	background: url(images/aussieflag2.png) no-repeat;
}
.divers {
	background: url(images/sunset.png) no-repeat;
}
.verte {
	background: url(images/green.png) no-repeat;
}
/*contient les titres et l'image*/
.rutitre {
	border-top: 2px solid olivedrab;
	border-bottom: 2px solid olivedrab;
	border-radius: 4px;
	text-align: center;
	margin: 30px auto 0 auto;	
}
/*determine taille div. overflow:hidden pour que l'image ne dépasse pas au moment du zoom*/
.rubrique {
	max-width: 200px;
	height: 150px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 10px;
	position: relative;
}
/*position image. zoom*/
.zoom {
	width: 100%;
	height: 100%;
	background-position:center center;
	background-size: cover;
	transition: transform 3s ease;
}
/*texte qui ne zoome pas avec background*/
.banniere {
	display: none;
	width: 100%;
	position: absolute;
	bottom: 0px;
	background-color: rgba(52, 73, 94, 0.7);
	color: white;
	font-size: 0.7em;
	font-family: sans-serif;
	margin: auto;
}
/*apparition de la banniere et du zoom*/
.rutitre:hover .zoom {
	transform: scale(1.25);
}	
.rutitre:hover .banniere {
	display: block;
}
.rutitre:hover .rubriques h4 {
	color: yellowgreen;
}













#superpit {
	background: url(images/super_pit_mini.jpg);
	height: 200px;
	width: 267px;
}
#superpit:hover {
	background: url(images/hole_pit_mini.jpg);
}

.idees {
	background: url(images/bulb.jpg) no-repeat;
	background-size: cover;
}
#aside {
	min-width: 34%;
}
#verte {
	display: flex;
}



